PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/orders_cake?schema=public
JWT_SECRET=super_secret_key
JWT_REFRESH_SECRET=super_secret_refresh_key

# Supabase SDK configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-service-role-key-or-anon-key
